<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/templates/css/main.css">
	<title>Acamedia</title>
</head>
<body>
	<div id="container">
	<h1>Acamedia: Academic Social Media</h1>
	<form action="/" method="post">
		<input type="hidden" name="action" value="add_profile">
		<fieldset>
			<legend>Add Profile</legend>
			<strong>Username:</strong> <input type="text" name="username" required="true"><br />
			<strong>First Name:</strong> <input type="text" name="first-name" required="true"><br />
			<strong>Last Name:</strong> <input type="text" name="last-name" required="true"><br />
			<strong>Gender:</strong><br />
			<input type="radio" name="gender" id="gender-male" value="male" checked="checked" /> <label for="genderMale">Male</label><br />
			<input type="radio" name="gender" id="gender-female" value="female" /> <label for="genderFemale">Female</label><br />
			<input type="radio" name="gender" id="gender-other" value="other" /> <label for="genderOther">Other</label><br />
			<strong>Age:</strong> <input type="number" name="age" required="true"><br />
			<fieldset>
				<legend>Academic Interests</legend>
				{% for ai in edinterests %}
				<label> {{ ai.name }} </label><input type="checkbox" name="edinterests[]" value="{{ ai.key }}">
				{% endfor %}
			</fieldset>
			<input type="submit" value="Submit" class="submit_button">
			<input type="reset" value="Clear All" class="submit_button">
		</fieldset>
	</form>
	<form action="/" method="post">
		<fieldset>
		<legend>Add Academic Interest</legend>
			<input type="hidden" name="action" value="add_interest">
			<strong>Interest Area</strong><br />
			<input type="text" name="interest-name" required="true">
			<input type="submit" value="Add" class="submit_button">
		</fieldset>
	</for,>
	<section>
		<h2>Edit Profiles</h2>
		{% for prof in profile_contents %}
		<a href="/edit?key={{ prof.key }}&type=profile">{{ prof.username }}</a>
		{% endfor %}
	</section>
	{% if message %}
	<section>
		<h3>Result</h3>
		<p>{{ message }}</p>
	</section>
	{% endif %}
	</div>
</body>
</html>
