<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fun With Forms</title>
</head>
<body>
	<h1>Fun With Forms</h1>
	<form action="/" method="post">
		<fieldset>
			<legend>Username</legend>
			<input type="text" name="user-name">
		</fieldset>
		<fieldset>
			<legend>Message</legend>
			<input type="text" name="message">
		</fieldset>
		<fieldset>
			<legend>Save Message</legend>
			<input type="submit" value="Save">
		</fieldset>
	</form>
	{% if form_content %}
	<section>
		<dl>
		{% for key, value in form_content.iteritems() %}
			<dt>
				{{ key|e }}
			</dt>
			<dd>
				{{ value|e }}
			</dd>
		{% endfor %}
		</dl>
	</section>
	{% endif %}
</body>
</html>
