<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fun With Forms</title>
</head>
<body>
	<h1>Fun With Forms</h1>
	<form action="/admin" method="post">
		<input type="hidden" name="action" value="add_channel">
		<fieldset>
			<legend>Channel Name</legend>
			<input type="text" name="channel-name">
		</fieldset>
		<fieldset>
			<legend>Add Channel</legend>
			<input type="submit" value="Add">
		</fieldset>
	</form>
	{% if message %}
	<section>
		<h3>Result</h3>
		<p>{{ message }}</p>
	</section>
	{% endif %}
</body>
</html>
